.forbidden {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      color: #f44336; 
      font-size: 3rem;
    }
  
    p {
      margin: 20px 0;
      font-size: 1.2rem;
    }
  
    a {
      text-decoration: none;
      color: #3f51b5; 
      font-weight: bold;
    }
  }
  